html{
    font-family: 'PingFang SC', '思源黑体', 'Microsoft Yahei UI', monospace;
}

#main-title{
    margin-top: 0px;
}
.whitetxt{
    color: white !important;
}
.indicator{
    background-color: white !important;
}
h1{
    font-weight: 300;
}
@media only screen and (max-width: 1000000px) {
    .tabs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .tabs .tab {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .tabs .tab a {
        padding: 0 12px;
    }
}
.softtitle{
    margin-top: 3px;
    font-size: 25px;
    font-weight: 300;
}