<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adobe 软件下载页</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>

    <!-- Customs go the last! -->
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/UA.js"></script><!-- Thanks! http://www.cnblogs.com/hykun/p/Ua.html -->
    <link rel="shortcut icon" href="./favicon.ico" />
    <script>
        if (client.browser.ie && clent.browser.ie <= 8) {
            window.location.assign("./unsupported.html")
        }
    </script>
</head>

<body class="grey lighten-3">
    <noscript>
        <div class="red white-text center-align" id="warn">
            <span style="width: 100%" id="warnmsg">您没有开启JavaScript，因而无法正常进行操作。</span>
        </div>
    </noscript>
    <div class="top teal lighten-4 center-align z-depth-2" style="width: 100%;padding-top: 35px;padding-bottom: 10px;padding-left: 20px;padding-right: 20px;">
        <h1 class="center-align" id="main-title">北大附中 Adobe 下载中心</h1>
        <div id="site-info" class=" hide-on-small-only">
            <p>在这里你可以下载到学校购买的正版 Adobe，无需担心版权问题。所有软件均需要在校内激活。</p>
            <p>您可以使用 Ctrl+F 来寻找软件。安装方法请参照教程。</p>
        </div>
        <div class="row no-select">
            <a class="btn teal lighten-4 black-text rounded" href="https://mp.weixin.qq.com/s/oCp2uOcnGoFVDtxmCjAw8w" target="_blank"><i class="material-icons left">book</i>教程</a>
            <a data-target="aboutmodal" class="btn modal-trigger teal lighten-4 black-text rounded"><i class="material-icons left">info</i>关于</a>
        </div>
    </div>
    <div class="main-render">

        <div class="row teal lighten-3 center-align  z-depth-1" id="tabs" style="position: sticky;top: 0px">
            <div class="container">
                <div class="col s12 row" style="margin: 0 auto !important;">
                    <ul class="tabs transparent white-text no-select col s12 m6">
                        <li class="tab col black-text" id="wintrigger"><a href="#win64" class="black-text" id="winlabel">Windows (x64)</a></li>
                        <li class="tab col black-text" id="mactrigger"><a class="black-text" href="#macos" id="maclabel">macOS</a></li>
                    </ul>
                    <div class="card-panel col s12 m5 l3 right" id="search-box">
                        <input id="search-text" type="text" placeholder="键入以搜索（可使用缩写）">
                    </div>
                </div>
            </div>

        </div>

        <div class="container" id="contents">

            <div id="macos">
                <h1>MacOS</h1>
                <div class="row">
                    <div class="col s12 l6 soft-container" v-for="(soft, index) in softwares" v-if="soft.name.toLowerCase().indexOf(searchText) != -1 || soft.short.indexOf(searchText) != -1">
                        <div class="card-panel row soft-card">
                            <img v-bind:src="'./img/'+soft.icon" alt="" class="softimg col">
                            <span class="softtitle col s9" v-html="soft.name"></span><br>
                            <div class="softbtns right no-select">
                                <a class="btn white black-text" v-on:click="copyLink('m', index)" title="复制下载链接"><i class="material-icons">content_copy</i></a>
                                <a class="btn hide-on-small-only teal darken-1" v-bind:href="serverLink+soft.mac"><i class="material-icons left">file_download</i>下载</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="win64">
                <h1>Windows</h1>
                <div class="row">
                    <div class="col s12 l6 soft-container" v-for="(soft, index) in softwares" v-if="soft.name.toLowerCase().indexOf(searchText) != -1 || soft.short.indexOf(searchText) != -1">
                        <div class="card-panel row soft-card">
                            <img v-bind:src="'./img/'+soft.icon" alt="" class="softimg col">
                            <span class="softtitle col s9" v-html="soft.name"></span><br>
                            <div class="softbtns right no-select">
                                <a class="btn white black-text" v-on:click="copyLink('w', index)" title="复制下载链接"><i class="material-icons">content_copy</i></a>
                                <a class="btn hide-on-small-only teal darken-1" v-bind:href="serverLink+soft.win"><i class="material-icons left">file_download</i>下载</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br><br>
        </div>
    </div>
    <div id="aboutmodal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h3>关于</h3>
            <p>@smallg0at 制作 </p>
            <p>2019-2020 北京大学附属中学 版权所有</p>
            <p>版本 2.1.3</p>
            <h4>更新信息</h4>
            <p>2.1.2 - 调亮了UI / 更换色调</p>
            <p>2.1.1 - 修复了搜索的大小写问题</p>
            <p>2.1.0 - 增加了搜索功能</p>
            <p>2.0.0 - 重构/轻量化</p>
            <h4>美术资源</h4>
            <p>使用了<a href="http://www.iconarchive.com/show/adobe-cc-circles-icons-by-killaaaron.html"> KillerAaron
                    的图标组</a>并做了一些修改。</p>
            <!-- <p>添加了：An图标，修改了：Fw、Sg图标的重心</p> -->
            <p>以及<a href="http://www.iconarchive.com/show/yosemite-adobe-cc-dark-icons-by-ziggy19.html"> Yosemite
                    Adobe CC Dark Icons by Ziggy19 </a>的Me图标</p>
            <h4>浏览器信息</h4>
            <p id="clientinfo"></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat col s12">关闭</a>
        </div>
    </div>
</body>
<button class="hide" id="copybtn" data-clipboard-text=""></button>
<script src="./js/dl.js"></script>
<script>
    var tabsInstance = M.Tabs.init(document.querySelectorAll('.tabs'))
    var modalInstance = M.Modal.init(document.querySelectorAll('.modal'))
    var maclabel = document.querySelector('#maclabel')
    var winlabel = document.querySelector('#winlabel')
    if (client.browser.safari) {
        M.toast({
            html: '不建议使用 Safari 浏览此网页，否则此网页可能不会正常工作。<br>建议使用 Chrome 等浏览器。',
            diaplayLength: Infinity
        })
    }
    if (client.system.mac) {
        maclabel.classList.add('active')
        maclabel.innerHTML = 'macOS（当前操作系统）'

    }
    if (client.system.win) {
        if (!(clientInformation.userAgent).indexOf('x64')) {
            // winlabel.innerHTML = 'Windows (64位)（当前操作系统）'
            M.toast({
                html: '您目前正在使用的设备的硬件架构非 x64（即为x86、ARM或ARM64），这些软件不一定能正常运行。',
                classes: 'yellow black-text bold',
                displayLength: Infinity
            })
        }
        if (client.system.win == 'XP' || client.system.win == '2000' || client.system.win == 'ME') {
            M.toast({
                html: "您的系统过老，请更新系统或更换计算机"
            })
        }

    }
    document.querySelector('#clientinfo').innerHTML = clientInformation.userAgent
    if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {
        M.toast({
            html: '⚠ 注意！</br>您正在使用移动端系统，这些软件*不支持*在此操作系统上使用。下载前请务必三思。<br>',
            classes: 'yellow black-text bold',
            displayLength: Infinity
        })
    }

    var display = new Vue({
        el: '#contents',
        data: {
            softwares: softwareList,
            searchText: "",
            serverLink: "http://portal.pkuschool.edu.cn:81/adobe/"
        },
        methods: {
            copyLink: function(plfm, id) {
                if (plfm == 'm') {
                    copyToClipboard(this.serverLink + this.softwares[id].mac)
                    M.toast({
                        html: '已复制链接: ' + this.softwares[id].name
                    })
                } else if (plfm == 'w') {

                    copyToClipboard(this.serverLink + display.softwares[id].win)
                    M.toast({
                        html: '已复制链接: ' + this.softwares[id].name
                    })

                }
            }
        }
    })

    var searcher = document.querySelector('#search-text')
    try {
        searcher.addEventListener('input', () => {
            let a = searcher.value;
            display.searchText = a.toLowerCase()
        })
        console.log('Attatched Event')
    } catch (error) {
        console.error(error)
    }
    searcher.addEventListener('change', () => {
        let a = searcher.value;
        display.searchText = a.toLowerCase()
    })

    new ClipboardJS('#copybtn');

    function copyToClipboard(copytext) {
        var cpybtn = document.querySelector('#copybtn');
        cpybtn.setAttribute('data-clipboard-text', copytext)
        cpybtn.click();
        console.log('CopyText: ' + copytext)
    }
</script>

</html>